---
import { Image } from "astro:assets";
import SectionLayout from "@components/common/SectionLayout.astro";
import Pasta from "../../img/pasta/pasta.png";
import Zenpin from "../../img/pasta/zenpin.png";

import Ikaga from "../../img/pasta/ikaga.png";

import Mochi from "../../img/pasta/mochi.png";
import Reservation from "../../img/intro/reservation.png";
const animation = "transiton opacity-0 duration-1000 translate-y-6";
---

<SectionLayout
  id="nayami"
  addClass="!bg-[#503C38]"
  pattern=""
  description="西日暮里で歯医者をお探しの皆様へ<br />こんなお悩みありませんか？"
>
  <div
    class="_ relative w-full h-full _ flex justify-center items-center md:max-w-screen-lg)_ md:mx-auto _md:px-4"
  >
    <div
      class="relative aspect-[2307/1388]_ w-full md:w-3/5 h-full relative mx-auto"
    >
      <Image
        src={Ikaga}
        alt="こだわりの生パスタはいかがですか？"
        x-bind:class={`visible ? '!opacity-100 !translate-0 ' : ''`}
        class={`${animation} delay-300 z-30 w-[300px] md:w-[500px] absolute top-4 md:top-8 right-4 md:-right-24 translate-x-full_`}
      />
      <Image
        src={Mochi}
        alt="もちもちツルツル"
        x-bind:class={`visible ? '!opacity-100 !translate-0 ' : ''`}
        class={`${animation} delay-600  z-30 w-32 md:w-[280px] absolute top-24 md:top-8 -left-2 md:-left-12 `}
      />
      <Image
        src={Zenpin}
        alt="全品生パスタ使用"
        x-bind:class={`visible ? '!opacity-100 !translate-0 ' : ''`}
        class={`${animation} delay-900 z-30 w-[250px] md:w-[350px] absolute -bottom-0 md:-bottom-8 -right-4 md:-right-8`}
      />

      <Image
        src={Pasta}
        alt="生パスタ"
        x-bind:class={`visible ? '!opacity-100 !translate-0 ' : ''`}
        class={`${animation} object-cover object-[20% 40%] h-full`}
      />
    </div>
  </div>
</SectionLayout>
